<!-- Generic header elements common across all pages -->

<!-- Metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Custom fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" rel="stylesheet" type="text/css">

<!-- Site-wide styling -->
<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon" type="image/jpg">
<link href="{{ url_for('static', filename='css/MobileV-main.css') }}" rel="stylesheet" type="text/css">